.socialNetworks {
  margin-top: 10px;
}

.socialNetworks-table {
  margin: 10px 0 20px 0;
  background: #fff;
  text-align: center !important;
  width: 100%;
}

.socialNetworks-title {
  color: #919191;
  text-transform: uppercase;
}

.ant-pagination.ant-table-pagination {
  width: 100%;
}

.ant-table-thead th{
  background: #5e9747 !important;
  color: #fff !important;
  font-weight: bold !important;
  text-align: center !important;
}

.ant-table {
  width: 100%;
}

.ant-spin-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
