:local(.logo) {
  position: relative;
  height: 64px;
  color: #fff;
  background: #2a2e3d;
}

:local(.brand) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-layout-sider-children {
  background: #001b2d;
}

// .ant-menu, .ant-menu-item, .ant-menu-dark, .ant-menu-sub, .ant-menu-inline {
//   background: #303647 !important;  
// }